{% extends "AmoussouBundle::layout.html.twig" %}

{% block title %}AmoussouBundle:Main:index{% endblock %}

{% block content %}
<h1 class="text-center">L'orage africain</h1>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam atque est eveniet asperiores veniam officiis numquam ut molestias debitis expedita ipsam tenetur, cupiditate accusantium repudiandae quos voluptates natus ad neque possimus molestiae impedit. Similique, debitis, officiis. Harum unde mollitia aut repellat accusamus quae odit tenetur magnam dolorem architecto temporibus, inventore voluptas nisi consectetur vitae velit quod soluta quas accusantium nihil minima ad porro exercitationem doloribus cum? Ab accusamus consequuntur corporis magnam laborum aliquam consequatur at excepturi voluptate quos quidem consectetur voluptatibus, delectus fugit id tempora voluptates architecto amet ipsam numquam itaque debitis neque mollitia quae! Quisquam molestiae nostrum dolores excepturi perferendis magni sapiente animi inventore, nam nemo iure ea, aliquid! Beatae recusandae suscipit sit, similique! Vel a odit vitae voluptates veniam at ipsum facilis ab sunt, doloribus eum officiis dolor! Repellendus ipsa officia sapiente quas, deleniti nemo est optio fuga natus temporibus eius dolore accusamus aperiam, minima quasi architecto ex non, expedita et. Quas, quam aliquam sed commodi consectetur vero adipisci distinctio quidem vel, doloribus in vitae. Commodi ipsa corporis vero dolores vitae ex ea, doloremque aliquid cum. Culpa illo perferendis accusamus praesentium corporis obcaecati cupiditate autem totam similique officiis ut quidem, veniam nemo tenetur porro? Deserunt laudantium animi eligendi.
</p>
{% endblock %}
